/* .THIS h1, .THIS h2 {
    margin: 0!important;
} */


.THIS .is-hidden {
    display: none;
}

.THIS .verified {
    color: #649D35;
}

.THIS .unverified {
    color: #d9534f;
}

.THIS td {
    font-weight: lighter!important;
}

.THIS .is-disabled {
    opacity: .5;
    pointer-events: none;
}

.THIS .ap-card {
    background: #fff;
    padding: 16px 20px;
    margin-bottom: 30px;
}

.THIS .ap-card h3 {
    margin: 0 0 5px 0!important;
}

.THIS.sgap-content-container {
    position: relative;
}

.THIS.sgap-content-container {
    width: 60%;
    margin: 0 auto;
}

.THIS.sgap-content-container table.ap-select-agency {
    width: 100%;
}

.THIS .ap-verify-contacts table.ap-select-agency tbody td {
   padding: 12px 0;
}

.THIS .ap-verify-contacts table.ap-select-agency .ap-btn {
    min-width: 104px;
}

.THIS .ap-verify-contacts table.ap-select-agency td:first-child{
	padding-left: 20px;
    width: 280px;
}
.THIS .ap-verify-contacts table.ap-select-agency td:nth-child(2) {
    width: 340px;
}

.THIS .ap-verify-contacts table.ap-select-agency td:nth-child(3) {
    width: 170px;
}

.THIS .ap-verify-contacts table.ap-select-agency td:nth-child(4) {
    width: 140px;
}

.THIS .ap-verify-contacts table.ap-select-agency td:nth-child(5) {
    width: 60px;
}

.THIS .ap-verify-contacts table.ap-select-agency td:last-child{
	padding-right: 20px;  
    width: 200px;
}

.THIS .ap-verify-contacts table.ap-select-agency tr:nth-child(even) {
    background: #f9f9f9;
}

/* .THIS .ap-verify-contacts table.ap-select-agency .selected {
    border: 2px solid #A4DAF4;
    background: #DBF1FB;
}

.THIS .ap-verify-contacts table.ap-select-agency .selected td {
    border-bottom: none;
}

.THIS .ap-verify-contacts table.ap-select-agency .selected:nth-child(even) {
    background: #DBF1FB;
} */

.THIS .slds-form-element .slds-checkbox [type=checkbox][disabled]+.slds-checkbox_faux, 
.THIS .slds-form-element .slds-checkbox [type=checkbox][disabled]+.slds-checkbox--faux, 
.THIS .slds-form-element .slds-checkbox [type=checkbox][disabled]~.slds-checkbox_faux, 
.THIS .slds-form-element .slds-checkbox [type=checkbox][disabled]~.slds-checkbox--faux, 
.THIS .slds-form-element .slds-checkbox [type=checkbox][disabled]+.slds-checkbox__label .slds-checkbox_faux, 
.THIS .slds-form-element .slds-checkbox [type=checkbox][disabled]+.slds-checkbox__label .slds-checkbox--faux {
    opacity: 0.4;
    pointer-events: none;
}

.THIS.sgap-content-container table td:nth-child(1) {
    width: 100px;
}

.THIS.sgap-content-container table td {
	padding: 15px 0;
    border-bottom: 1px solid #f0f0f0;   
}

.THIS.sgap-content-container table tbody tr:last-of-type td {
    border-bottom: 0;
}

.THIS table tr {
    opacity: 0;
    animation: fadein .8s ease;
    animation-fill-mode: forwards;
}

.THIS.sgap-content-container thead {
	font-family: "HelveticaNeueW01-Thin",sans-serif!important;
}

.THIS.sgap-content-container thead td {
    border-width: 3px;
    padding-bottom: 10px;
    font-size: 1.3em;
}

.THIS.manage-agents {
    width:100%;
}

.THIS.manage-agents .ap-agent-details {
    margin-top:15px;
    position: relative;
    background: #fff;
    padding: 0;
    margin-bottom: 10px;
    width: 100%;
}

.THIS.manage-agents .ap-agent-details > h1{
    float:left;
}

.THIS .search-filter-container {
    position: relative;
    margin-bottom: 30px;
}

.THIS.manage-agents .search-contact {
    padding: 20px;
    background: #f5f5f5;
    margin: 0;
    border-radius: 6px;
    float: left;

}

.THIS.manage-agents .search-contact input{
    box-sizing: border-box;
        width: 280px;

}

.THIS.manage-agents .ap-agent-details button,
.THIS .ap-pagination button{
    margin-bottom:20px;
}

.THIS.manage-agents .ap-agent-details .header-container {
    position: relative;
}

.THIS.manage-agents .ap-agent-details .header-verify-agents {
 	position: absolute;
    bottom: 0;
    right: 0;   
}

.THIS.manage-agents .ap-agent-details .ap-btn{
    margin: 0;
    font-family: "HelveticaNeueW01-Thin";
    background: #009adb;
    border-radius: 40px;
    font-size: 18px;
    padding: 10px 20px;
    line-height: 30px;
    height: initial;
    border: none; 
    float:right;
}

.THIS.manage-agents .ap-agent-details p{
	display: inline-block;
    float: left;
    margin-right: 20px;
    text-align: right;
    line-height: 50px;
    margin-bottom: 0;
    font-size: 16px;
    color: #777;
}

.THIS .slds-button-group-list .slds-button.is-active {
    background: #0099de;
    color: #fff;
    border: 1px solid #0099de;
}

.THIS .ap-pagination {
    text-align: center;
    padding: 0;
    margin-top:30px;
    margin-bottom:30px;
}

.THIS .ap-pagination > p{
    display:none;
    font-size: 16px;
    color: #777;
}

.THIS .slds-button-group-list li {
    margin: 0 0 0 5px;
}

.THIS .ap-pagination .slds-button{
    min-width: 40px;
    min-height: 40px;
    transition: all .3s;
}

.THIS .ap-pagination button.ap-btn {
    display:none;
	background: #009adb;
    border-radius: 40px;
    font-size: 18px;
    font-family: "HelveticaNeueW01-Thin"!important;
    padding: 10px 20px;
    line-height: 30px;
    color: #fff;
    height: initial;
    border: none;   
}

/**
 * Filters
 */
.THIS .ap-filter {
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    display: inline-block;
    background: #fff;
    margin-bottom: 0;
    margin-left: 5px;
    padding: 6px 10px;
    transition: all .3s;
	border: 1px solid #D4D4D4;
}

.THIS .ap-filter.date-range .slds-form-element {
    width: 150px;
}

.THIS .ap-filter.ap-statement-view input[name="statementPeriods"] {
    width: 100px;
}

.THIS .ap-filter .slds-listbox {
    min-width: 110px;
}

.THIS .ap-filter.statement-combobox .slds-form-element__label,
.THIS .ap-filter.date-range .slds-form-element__label {
    display: none;
}

.THIS .ap-filter:first-of-type {
    margin-left:0;
}


.THIS .ap-filter button {
    border: 0;
}

.THIS .ap-filter * {
    border:0;
}

.THIS .ap-filter input {
    cursor: pointer;
    padding-left: 5px;
}

.THIS .ap-filter label {
    color: #777;
    display: inline-block;
    border-right: 1px solid #E5E5E5;
    margin-right: 6px;
    padding-right: 10px;
    padding-top: 0;
    font-size: 14px;
}

.THIS .ap-filter lightning-combobox, .THIS .ap-filter lightning-datepicker div {
    display: flex;
    align-items: center;
}

.THIS .ap-filter lightning-datepicker input {
    width: 130px;
}

.THIS .ap-filter .slds-input__icon-group.slds-input__icon-group_right:after {
    content: '\f078';
    font-family: FontAwesome;
    position: absolute;
    right: 0px;
    top: -3px;
    color: #005779;
    font-size: 16px;
}

.THIS .ap-filter .slds-icon-utility-down {
    display: none;
}

.THIS .ap-filter + .ap-filter-search {
    background: #0099d8;
    width: 44px;
    outline: 0;
    border: 0;
    margin-left: 5px;
    color: #fff;
    transition: all .3s;
}

.THIS .ap-filter + .ap-filter-search.has-error {
    background: #a94442;
}

.THIS .error-msg {
    opacity:0;
    height: 0;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    margin: 5px 0;
}

.THIS .error-msg .fa {
	margin-right: 8px;
    font-size: 19px;
    position: relative;
    top: 2px;
}

.THIS .ap-filter.has-error {
    border:1px solid #a94442;
}

.THIS .error-msg.has-error {
    animation: fadein .4s;
    animation-fill-mode: forwards;
    height: auto;
    padding:8px 10px;
}

.THIS #transaction-panel {
    outline: none;
}

.THIS.lazy-load-trigger {
    width: 100%;
    height: 10px;
}

.THIS.slds-modal .slds-modal__header,
.THIS.slds-modal .slds-modal__footer {
    border: none;
}

.THIS.slds-modal .slds-modal__header {
    background: #0099d8;
    color: #fff;
    border: none;
}

.THIS.slds-modal .slds-modal__header h1{
   font-weight: normal;
   font-size: 28px;
   padding: 0;
   margin-bottom: 0 !important; 
}

.THIS.slds-modal .slds-modal__content {
    padding: 25px;
}

.THIS.slds-modal .slds-modal__footer .ap-btn {
    margin-bottom: 0;
    border: solid 2px #0099d8;
    line-height: 18px;
    vertical-align: initial;
    font-size: 18px;
    font-family: "HelveticaNeueW01-Thin";
}

.THIS.slds-modal .slds-modal__footer .ap-btn-outline {
   	background-color: #fff;
    color: #0099d8;
}

.THIS.slds-modal .slds-modal__footer {
    padding: 25px;
    padding-top: 0;
}

.THIS.slds-modal .agents-displayed {
	color: #0099d8;
}

.THIS.slds-modal .search-contact {
    width: 70%;
    padding: 20px;
    background: #f5f5f5;
    margin: 0;
    border-radius: 6px;
    margin-bottom:10px;
}

.THIS.slds-modal .search-contact input {
    width: 280px;
}

.THIS.slds-modal .search-contact .slds-has-selection input {
    width: 100%;
    padding: 0 15px;
    background: #fff;
}

.THIS.slds-modal .search-contact + p{
    color:#d9534f;
}

.THIS.no-contacts {
    padding: 0;
    display: -webkit-flexbox;
    display: -moz-flex;
    display: flex;
}

.THIS.no-contacts p{
    margin: 0;
    padding:20px;
}

.THIS .no-contacts-icon {
    background: #d9534f;
    min-width: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.THIS .no-contacts-icon .fa{
    font-size: 30px;
    color: #fff;
}

@media(max-width: 767px) {
    
    .THIS.ap-verify-contacts {
        width: 95%;
        margin: 0 auto;
    }
    
    .THIS h1 {
        font-size: 26px;
    }
    
    .THIS h2 {
        font-size: 24px;
    }
    
    .THIS.sgap-content-container {
        width: 100%;
        margin: 0 auto;
	}
    
    .THIS.sgap-content-container table td:nth-child(1) {
        width: 85px;
    }
    
    .THIS.manage-agents .ap-agent-details {
        width: 100%;
        padding-right: 0;
    }
    
    .THIS.manage-agents .ap-agent-details h1 {
        word-break: break-all;
        font-size: 24px;
    }

    .THIS .ap-filter-container {
        flex-direction: column;
    }
    
    .THIS .ap-filter .slds-form-element {
        flex-direction: row;
        display: flex;
        align-items: center;
    }
    
    .THIS .ap-filter {
        margin-left: 0;
        margin-bottom: 5px;
        width: 100%;
    }
    
    .THIS.ap-verify-contacts .slds-float_right {
        float:none;
    }
    
    .THIS .ap-filter .slds-form-element__control {
        flex-grow:1;
    }
    
    .THIS .ap-filter .slds-form-element__control .slds-input {
        padding-right: 0;
    }
    
    .THIS .ap-filter+.ap-filter-search {
        height: 44px;
        margin-left:0;
    }
    
    .THIS .ap-btn:first-of-type {
        margin-right: 20px;
    }
    
    .THIS .ap-btn + .ap-btn {
        margin-left: 0!important;
    }
    
    .THIS .header-verify-agents {
       display:none;
    }
    
    .THIS.manage-agents .ap-agent-details .ap-btn {
        top: 0;
    	bottom: initial;
    }
    
    .THIS.manage-agents .search-contact,
    .THIS.manage-agents .search-contact input{
        width: 100%;
    }

    
    .THIS .search-filter-container {
        padding-bottom: 80px;
    }
    
    .THIS .ap-verify-contacts table.ap-select-agency thead {
        display: none !important;
    }
    
    .THIS .ap-verify-contacts table.ap-select-agency thead tr td{
        display: none;
    }
    
    /*
    .THIS .ap-verify-contacts table.ap-select-agency thead tr td:first-child{
        display: block;
        border:none;
    }
    */

    .THIS .ap-verify-contacts table tbody,
    .THIS .ap-verify-contacts table tr,
    .THIS .ap-verify-contacts table td {
        display: block;
        width: 100% !important;
        float: right;
    }

    .THIS .ap-verify-contacts table tr {
        position: relative;
        margin-bottom: 15px;
        padding:20px;
        border:1px solid #d4d4d4;
    }
    
    .THIS .ap-verify-contacts table td {
        text-align: right;
        padding-left: 40%;
    }
    
    .THIS .ap-verify-contacts table td .slds-checkbox__label .slds-checkbox_faux,
    .THIS .ap-verify-contacts table td .slds-checkbox__label .slds-form-element__label{
        margin:0 !important;
        padding:0;
    }
    
    .THIS .ap-verify-contacts table tr:nth-child(:first-child) {
        text-align: center;
    }
    
    .THIS .ap-verify-contacts table tr td:first-child {
        padding-left: 0 !important;
    }
    
    .THIS .ap-verify-contacts table tr td:last-child {
        padding-right: 0 !important;
        border-bottom:none;
    }
    
    .THIS .ap-verify-contacts table tr td:last-child button{
        margin-right: 0;
    }

    .THIS .ap-verify-contacts table td::before {
        content: attr(data-name);
        position: absolute;
        left: 20px;
    }
    
    .THIS .ap-pagination{
    	margin-bottom: 0;
    	margin-top: 15px; 
	}
    
    .THIS .ap-pagination > p{
    	display: block;
	}
    
    .THIS .ap-pagination button.ap-btn {
    	display: inline-block;
    	margin-right: 0; 
	}
    
    .THIS.slds-modal .search-contact {
        width: 100%;
	}

}

/** Buttons **/

.THIS .ap-btn,
.THIS .ap-btn:visited{
    color: #fff;
    background: #0099D8;
    padding: 8px 14px;
    margin: 0;
    display: inline-block;
    font-size: 16px;
    transition: all .3s;
    border: 0;
    line-height: 22px;
}

.THIS .ap-btn:hover,
.THIS .ap-btn:focus{
    text-decoration: none;
    background:#005779;
}

.THIS .ap-btn + .ap-btn {
    margin-left: 15px;
}

.THIS .ap-btn .fa {
    margin-left: 10px;
}

.THIS .ap-btn-action {
    background: #0099d8;
}

.THIS .loader {
  padding: 60px 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
position: relative;
    
    width: 100%; height: 60px; z-index:9000
}
.THIS .loader-status {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 50%;
  opacity: 0.8;
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -10px;
  animation: scale-fade 1.5s cubic-bezier(0.22, 0.61, 0.36, 1) infinite both;
}

@keyframes scale-fade {
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

/** Animation **/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}