.THIS h1, .THIS h2 {
    margin: 0!important;
}

.THIS .is-hidden {
    display: none;
}

.THIS td {
    font-family: "HelveticaNeueW01-Thin",sans-serif!important;
    font-weight: lighter!important;
}

.THIS .is-disabled {
    opacity: .5;
    pointer-events: none;
}

.THIS .ap-card {
    background: #fff;
    padding: 16px 20px;
    margin-bottom: 30px;
}

.THIS .ap-card h3 {
    margin: 0 0 5px 0!important;
}

.THIS.sgap-content-container {
    position: relative;
}

.THIS.sgap-content-container {
    width: 60%;
    margin: 0 auto;
}

.THIS.sgap-content-container table.ap-select-agency {
    font-size: 16px;
    width: 100%;
}

.THIS .ap-verify-contacts table.ap-select-agency .ap-btn {
    margin-bottom: 0;
    padding: 6px 10px;
    line-height:initial;
}

.THIS .ap-verify-contacts table.ap-select-agency td:nth-child(1) {
 	width: 30px;
}

.THIS .ap-verify-contacts table.ap-select-agency td:first-child{
	padding-left: 20px;  
}

.THIS .ap-verify-contacts table.ap-select-agency td:last-child{
	padding-right: 20px;  
}

.THIS .ap-verify-contacts table.ap-select-agency tr:nth-child(even) {
    background: #f9f9f9;
}

.THIS .alert {
    background: #D9534F !important;
}

.THIS .success {
    background: #649D35 !important;
}

/*
.THIS .ap-agent-details .is-disabled{
    background: #fff;
    border: 2px solid #d9dbdd;
    color: #d9dbdd;
}
*/


.THIS.sgap-content-container table td:nth-child(1) {
    width: 100px;
}

.THIS.sgap-content-container table td {
	padding: 10px 0;
    border-bottom: 1px solid #f0f0f0;   
}

.THIS.sgap-content-container table tbody tr:last-of-type td {
    border-bottom: 0;
}

.THIS.sgap-content-container tbody tr:nth-child(1) td {
        padding-top: 15px;
}

.THIS table tr {
    opacity: 0;
    animation: fadein .8s ease;
    animation-fill-mode: forwards;
}

.THIS.sgap-content-container thead td {
    border-width: 3px;
    padding-bottom: 10px;
    font-size: 1.3em;
}

.THIS.sgap-content-container h1 {
    padding-bottom: 10px;
}

.THIS.manage-agents {
    width:100%;
}

.THIS.manage-agents .ap-agent-details {
    position: relative;
    background: #fff;
    padding: 0;
    margin-bottom: 10px;
    width: 100%;
}

.THIS.manage-agents .ap-agent-details > h1{
    float:left !important;
}

.THIS.manage-agents .search-contact {
    padding: 20px;
    background: #f5f5f5;
    margin: 0;
    border-radius: 6px;
    float: left;
    margin-bottom: 30px;
}

.THIS.manage-agents .search-contact input{
    width: 280px;
}

.THIS .expand {
    position: absolute;
    top: 40px;
    right: 20px;
    font-size: 1.4em;
}

.THIS .expand .fa {
    transition: all .3s;
}

.THIS .expand.is-open .fa {
    transform: rotate(180deg);
}


.THIS .ap-agent-details button,
.THIS .ap-pagination button{
    margin-bottom:20px;
}

.THIS .ap-agent-details .alert-outline,
.THIS .ap-pagination .alert-outline{
    background: #fff;
    color: #D9534F;
    border: 2px solid #D9534F !important;
}


.THIS .ap-agent-details .success-outline,
.THIS .ap-pagination .success-outline{
    background: #fff;
    color: #649D35;
    border: 2px solid #649D35 !important;
}

.THIS ul.ap-transactions-tabs {
    margin-top: 20px;
    margin-bottom: 0;
    border-bottom: 2px solid #32363F;
}

.THIS .ap-transactions-tabs li {
    display: inline-block;
}

.THIS .ap-transactions-tabs li span {
	pointer-events: none;   
}

.THIS .ap-transactions-tabs a {
    position: relative;
    top: 4px;
    padding: 6px 15px;
    background: #32363F;
    margin-right: 3px;
    box-sizing: border-box;
    display: block;
    color: #fff;
    font-family: "HelveticaNeueW01-Thin", sans-serif;
    font-weight: lighter;
    font-size: 16px;
    text-decoration: none;
    transition: all .3s;
    cursor: pointer;
}

.THIS .ap-transactions-tabs a.active {
    background: #0099de;
	font-size: 18px;
    padding: 10px 15px;
    top: 0;
}

.THIS .ap-transactions-tabs a:not(.active):hover, 
.THIS .ap-transactions-tabs a:not(.active):focus {
    background: #005779;
} 


.THIS .ap-transactions-pill {
    background: rgba(0,0,0,.3);
    margin: 0 0 0 10px;
    border-radius: 10px;
    line-height: 20px;
    display: inline-block;
    padding: 5px 8px;
    pointer-events: none;
}

.THIS a.active .ap-transactions-pill {
    background: #005779;
}

.THIS .slds-button-group-list .slds-button.is-active {
    background: #0099de;
    color: #fff;
    border: 1px solid #0099de;
}

.THIS .ap-pagination {
    text-align: right;
    padding: 20px 0;
}

.THIS .slds-button-group-list li {
    margin: 0 0 0 5px;
    border: 0;
}

.THIS .ap-pagination .slds-button {
    min-width: 40px;
    min-height: 40px;
    border: 0;
    transition: all .3s;
}

/**
 * Filters
 */
.THIS .ap-filter {
    width: auto;
    display: inline-block;
    background: #fff;
    margin-bottom: 0;
    margin-left: 5px;
    padding: 6px 10px;
    transition: all .3s;
	border: 1px solid #f0f0f0; /* Hidden as same colours as bg. Allows for smoother animation when an error occurs */
}

.THIS .ap-filter.statement-combobox .slds-form-element,
.THIS .ap-filter.date-range .slds-form-element {
    width: 150px;
}

.THIS .ap-filter.ap-statement-view input[name="statementPeriods"] {
    width: 100px;
}

.THIS .ap-filter .slds-listbox {
    min-width: 110px;
}

.THIS .ap-filter.statement-combobox .slds-form-element__label,
.THIS .ap-filter.date-range .slds-form-element__label {
    display: none;
}

.THIS .ap-filter:first-of-type {
    margin-left:0;
}


.THIS .ap-filter button {
    border: 0;
}

.THIS .ap-filter.statement-combobox label {
    display:none;
}

.THIS .ap-filter * {
    border:0;
}

.THIS .ap-filter input {
    cursor: pointer;
    padding-left: 5px;
}

.THIS .ap-filter label {
    color: #777;
    display: inline-block;
    border-right: 1px solid #E5E5E5;
    margin-right: 6px;
    padding-right: 10px;
    padding-top: 0;
    font-size: 14px;
}

.THIS .ap-filter lightning-combobox, .THIS .ap-filter lightning-datepicker div {
    display: flex;
    align-items: center;
}

.THIS .ap-filter lightning-datepicker input {
    width: 130px;
}

.THIS .ap-filter .slds-input__icon-group.slds-input__icon-group_right:after {
    content: '\f078';
    font-family: FontAwesome;
    position: absolute;
    right: 0px;
    top: -3px;
    color: #005779;
    font-size: 16px;
}

.THIS .ap-filter .slds-icon-utility-down {
    display: none;
}

.THIS .ap-filter-container {
    display: flex;
}

.THIS .ap-no-transactions .ap-no-transactions_icon {
    width: 200px;
    height: 200px;
    background: #dadada;
    margin: 50px auto 20px auto;
    border-radius: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: #fff;
    border: 5px solid #e2e2e2;
    position: relative;
}

.THIS .ap-no-transactions .ap-no-transactions_icon:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 5px solid #f0f0f0;
    border-radius: 50%;
}

.THIS .ap-no-transactions .ap-no-transactions_icon:after {
	content: '';
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    position: absolute;
    top: -15px;
    left: -15px;
    border: 5px solid #eaeaea;
    border-radius: 50%;
}

.THIS .ap-no-transactions span {
    color: #c3c3c3;
}

.THIS .ap-no-transactions span:before {
    content: '?';
    position: absolute;
    top: 50%;
    left: 80px;
    font-size: 45px;
}

.THIS .ap-no-transactions h3 {
    text-align: center;
}

.THIS .ap-filter + .ap-filter-search {
    background: #0099d8;
    width: 44px;
    outline: 0;
    border: 0;
    margin-left: 5px;
    color: #fff;
    transition: all .3s;
}

.THIS .ap-filter + .ap-filter-search.has-error {
    background: #a94442;
}

.THIS .error-msg {
    opacity:0;
    height: 0;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    margin: 5px 0;
}

.THIS .error-msg .fa {
	margin-right: 8px;
    font-size: 19px;
    position: relative;
    top: 2px;
}

.THIS .ap-filter.has-error {
    border:1px solid #a94442;
}

.THIS .error-msg.has-error {
    animation: fadein .4s;
    animation-fill-mode: forwards;
    height: auto;
    padding:8px 10px;
}

.THIS #transaction-panel {
    outline: none;
}

.THIS.lazy-load-trigger {
    width: 100%;
    height: 10px;
}

@media(max-width: 767px) {
    
    .THIS.ap-verify-contacts {
        width: 95%;
        margin: 0 auto;
    }
    
    .THIS h1 {
        font-size: 26px;
    }
    
    .THIS h2 {
        font-size: 24px;
    }
    
    .THIS.sgap-content-container {
        width: 100%;
        margin: 0 auto;
	}
    
    .THIS.sgap-content-container table td:nth-child(1) {
        width: 85px;
    }
    
    .THIS .ap-agent-details {
        width: 100%;
        padding-right:50px;
    }
    
    .THIS .ap-agent-details h1 {
        word-break: break-all;
        font-size: 24px;
    }

    .THIS .ap-filter-container {
        flex-direction: column;
    }

    .THIS .ap-filter.statement-combobox .slds-form-element,
    .THIS .ap-filter.date-range .slds-form-element {
        width: 100%;
    }
        
    .THIS .ap-filter-container .statement-combobox {
        margin:5px 0 0 0;
    }
    
    .THIS .statement-combobox .slds-form-element__control {
        width: 100%;
    }
    
    .THIS .ap-filter .slds-form-element {
        flex-direction: row;
        display: flex;
        align-items: center;
    }
    
    .THIS .ap-filter {
        margin-left: 0;
        margin-bottom: 5px;
    }
    
    .THIS.ap-verify-contacts .slds-float_right {
        float:none;
    }
    
    /*
    .THIS .ap-filter .slds-form-element__label {
        width: 70px;
    }
    */
    
    .THIS .ap-filter .slds-form-element__control {
        flex-grow:1;
    }
    
    .THIS .ap-filter .slds-form-element__control .slds-input {
        padding-right: 0;
    }
    
    .THIS .ap-filter+.ap-filter-search {
        height: 44px;
        margin-left:0;
    }
    
    .THIS .ap-btn:first-of-type {
        margin-right: 20px;
    }
    
    .THIS .ap-btn + .ap-btn {
        margin-left: 0!important;
    }

}

/** Buttons **/

.THIS .ap-btn,
.THIS .ap-btn:visited{
    color: #fff;
    background: #0099D8;
    padding: 8px 14px;
    margin: 0 0 15px 0;
    display: inline-block;
    font-size: 16px;
    transition: all .3s;
    border: 0;
    line-height: 22px;
}

.THIS .ap-btn:hover,
.THIS .ap-btn:focus{
    text-decoration: none;
    background:#005779;
}

.THIS .ap-btn + .ap-btn {
    margin-left: 15px;
}

.THIS .ap-btn .fa {
    margin-left: 10px;
}

.THIS .loader {
  padding: 60px 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
position: relative;
}
.THIS .loader-status {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 50%;
  opacity: 0.8;
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -10px;
  animation: scale-fade 1.5s cubic-bezier(0.22, 0.61, 0.36, 1) infinite both;
}

@keyframes scale-fade {
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

/** Animation **/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}